body{
    background-color: aliceblue;
}
nav li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}
nav{
    background-color: rgb(181, 226, 202);
    height: 50px;
    font-weight: 200;
}
.pishi a{
    color: brown;
    font-style: oblique;
}
h1{
    font-style: oblique;
    text-shadow: 2px 2px 5px green;;
    margin-left: 500px;
    font-size: large;
}
#top {
    margin: 1px;
    border: 0px;
    padding: 10px;
    background-color: rgb(225, 237, 247);
}
#top #tip{

    font-size: large;
    text-align: center;
    height: max-content;
    font: weight 200px;
    font-style: italic;
}

#top{
   background-image: url(./whatsappImage2.jpeg);
   background-position:right;
   background-repeat:no-repeat;
   position:relative;
   background-attachment:scroll;
   background-size:contain

}
#intro{
    font-style: oblique;
    text-align: center;
    font-style: italic;

}
#top #order{
    text-align: center;
    font-style: oblique;
    font-size: 35px;
    color:rgb(25, 102, 54);
    text-shadow:  2px 2px 5px green;
    font-weight: 300;
}
.cogs{
    font-weight: 200px;
    font-style: oblique;
    text-shadow: slategrey;
}
.whiskey{
    font-weight: 200px;
    font-style: oblique;
    text-shadow: slategrey;
}
.vodka{
    font-weight: 200px;
    font-style: oblique;
    text-shadow: slategrey;
}
.new{
    font-weight: 200px;
    font-style: oblique;
    text-shadow: slategrey;
}

#whitype ul{
    font-style: italic;
    font-size: large;
    padding-top: 5px;
    
}
#whitype li{
    padding: 3px;
}
#whitype{
    background-color:  rgb(181, 226, 202);
}

.irishWh{
    color: rgb(73, 27, 27);
    font-style: oblique;
}
.irishWh img{
    padding: 4px;
}
#details{
    display: flex;
    justify-content:space-around;
    padding-left: 60px;
    padding-right: 10px;
    background-color: rgb(198, 212, 202);
  }
  #details >div{
    margin: 10px;
    margin-right: 20px;
    width: 30;
    padding-left: 60px;
    padding-right: 60px;
    font-style: italic;
  }
  #ageform{
    width: 100%;
                max-width: 400px;
                background-color: #e8f5e9;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-style: italic;
                color: rgb(77, 18, 18);
  }
